<ion-header>
    <ion-toolbar color="medium">
      <ion-title>Solicitar cuenta</ion-title>
      <ion-icon slot="end" (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <!-- Listado de productos -->
    <ion-item *ngFor="let item of pedido.productos; let index=index">
      <ion-avatar>
        <img [src]="item.img_src">
      </ion-avatar>
      <ion-label>
        <h1>{{item.nombre}}</h1>
        <ion-row>
          <h2>Cantidad: {{item.cantidad}}</h2>
        </ion-row>
      </ion-label>
      <strong>$ {{item.precio}}</strong>
    </ion-item>
    <!-- Propina -->
    <ion-item *ngIf="showPropina">
      <ion-avatar>
        <img src="../../../assets/images/propina.jpeg">
      </ion-avatar>
      <ion-label>
        <h1>Propina</h1>
        <h2>Satisfaccion {{satisfaccion}}</h2>
      </ion-label>
      <strong>${{valorPropina}}</strong>
    </ion-item>
    <!-- fin Propina -->
    <!-- Gano Juego -->
    <ion-item *ngIf="showJuego">
      <ion-avatar>
        <ion-icon name="game-controller-outline" style="font-size: 2em;"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h1>Descuento 10%</h1>
      </ion-label>
      <strong>- ${{valorDescuento}}</strong>
    </ion-item>
    <!--  -->
  </ion-list>
  <ion-row style="display: flex;justify-content: space-around;">
    <ion-button (click)="AgregarPropina()">Agregar propina</ion-button>
    <p>Total: $ {{pedido.total}}</p>
  </ion-row>
  <ion-row style="display: flex;justify-content: center;margin-top: 1em;">
    <ion-button color="success"(click)="NotificarMozo()">Notificar al mozo</ion-button>
  </ion-row>
</ion-content>

