<ion-header>
  <ion-toolbar color="medium">
    <ion-back-button defaultHref="home-cocinero" slot="start"></ion-back-button>
    <ion-title>Listado de pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let item of pedidosCocina; let j=index" >
        <ion-avatar>
          <img [src]="item.img_src">
        </ion-avatar>
        <ion-label>
          <h1>{{item.nombre}}</h1>
        </ion-label>
        <strong>X {{item.cantidad}}</strong>
        <ion-button color="danger" *ngIf="item.estado == 'PENDIENTE'" (click)="CambiarEstadoProducto(item,'PREPARANDO')">Poner en preparacion</ion-button>
        <ion-button *ngIf="item.estado == 'PREPARANDO'" (click)="CambiarEstadoProducto(item,'LISTO')">Marcar como listo</ion-button>
        <ion-button color="success" *ngIf="item.estado == 'LISTO'" disabled>Entregado</ion-button>
      </ion-item>
  </ion-list>
</ion-content>
