<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Panel de acciones</ion-title>
    <ion-icon class="logout-icon" slot="end" name="log-out-outline" size="large" (click)="logout()"></ion-icon>
    <ion-icon class="logout-icon" slot="end" name="color-palette-outline" size="large" (click)="goToUpdate()"></ion-icon>
    <!-- <ion-button color="danger" slot="end" style="margin-right: 1em;" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      Salir
    </ion-button> -->
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="mt-3">
  <p class="ion-padding-start ion-padding-end" > 
    <ion-button  expand="block" color="secondary" class="" (click)="goToRegister()">Registrar Usuario</ion-button>
  </p>
  <p class="ion-padding-start ion-padding-end" > 
    <ion-button  expand="block" color="secondary" class="" [routerLink]="['/altamesas']">Alta mesas</ion-button>
  </p>
  <p class="ion-padding-start ion-padding-end" > 
    <ion-button  expand="block" color="secondary" class="" (click)="goToClientes()">Administración Clientes</ion-button>
  </p>
  <p class="ion-padding-start ion-padding-end" > 
    <ion-button  expand="block" color="secondary" class="" (click)="goToUpdate()">Modificar datos</ion-button>
  </p>
</ion-content> -->
<ion-content>
  <div class="hero">
    <img src="../../../../assets/images/buho.svg" alt="">
  </div>
  <div style="display:flex; flex-direction: column;">
    <ion-row>
      <div class="menu-item" [routerLink]="['/supervisor/users']">
        <ion-icon name="construct-outline"></ion-icon>
        <p>Gestionar usuarios</p>
      </div>
      <div class="menu-item" [routerLink]="['/supervisor/clientes']">
        <ion-icon name="people-outline"></ion-icon>
        <p>Administrar clientes</p>
      </div>
    </ion-row> 
    <ion-row>
      <div class="menu-item" [routerLink]="['/altamesas']">
        <ion-icon name="cafe-outline"></ion-icon>
        <p>Mesas</p>
      </div>
      <div class="menu-item">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <p>Estadisticas</p>
      </div>
    </ion-row>
  </div>
</ion-content>
