<ion-header>
  <ion-toolbar>
    <ion-title>Los Buhos - Supervisor/Dueño</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="mt-3">
  <p class="ion-padding-start ion-padding-end" > 
    <ion-button  expand="block" color="secondary" class="" (click)="goToRegister()">Registrar Usuario</ion-button>
  </p>
  <p class="ion-padding-start ion-padding-end" > 
    <ion-button  expand="block" color="secondary" class="" [routerLink]="['/altamesas']">Alta mesas</ion-button>
  </p>
  <p class="ion-padding-start ion-padding-end" > 
    <ion-button  expand="block" color="secondary" class="" (click)="goToClientes()">Administración Clientes</ion-button>
  </p>
</ion-content>
