.menu-item{
    //border: 1px solid grey;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    ion-icon{
        font-size: 6em;
        color: var(--ion-color-primary)
    }
}
.btn-logout{
    position: fixed;
    top: 2rem;
    right: 1rem;
}