<ion-item>
  <ion-avatar slot="start">
    <img [src]="usuario.img_src">
  </ion-avatar>
  <ion-label>
    <h2>{{usuario.nombre}} {{usuario.apellido}}</h2>
    <h3>{{usuario.rol}}</h3>
  </ion-label>
  <ion-avatar slot="end" class="m-1" class="icon">
    <ion-icon name="pencil-outline" size="" (click)="editarUsuario()"></ion-icon>          
  </ion-avatar>
  <ion-avatar slot="end" class="m-1" class="icon">
    <ion-icon class="red" name="trash-outline" size="" (click)="eliminarUsuario()" *ngIf="usuario.uid != currentUserId"></ion-icon>
  </ion-avatar>
</ion-item>
