<!--ion-header>
  <ion-toolbar color="medium">
    <ion-title>Inicio</ion-title>
    <ion-button color="danger" slot="end" style="margin-right: 1em;" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      Salir
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-padding-start ion-padding-end" > 
    <ion-button  expand="block" color="secondary" class="" [routerLink]="['/producto-alta']">Alta productos</ion-button>
    <ion-button  expand="block" color="secondary" class="" [routerLink]="['/listado-pedidos']">Pedidos</ion-button>
    <ion-button  expand="block" color="secondary" class="" [routerLink]="['/producto-modificar']">Modificar productos</ion-button>
    <ion-button  expand="block" color="secondary" class="" [routerLink]="['/producto-eliminar']">Eliminar producto</ion-button>
 
  </p>
</ion-content-->

<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Inicio</ion-title>
    <ion-button color="danger" slot="end" style="margin-right: 1em;" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      Salir
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="hero">
    <img src="../../../../assets/images/buho.svg" alt="">
  </div>
  <div style="display:flex; flex-direction: column;">
    <ion-row>
      <div class="menu-item" [routerLink]="['/listado-pedidos']">
        <ion-icon name="cafe-outline"></ion-icon>
        <p>Pedidos</p>
      </div>
    </ion-row>
    <ion-row>
      <div class="menu-item" [routerLink]="['/producto-modificar']">
        <ion-icon name="fast-food-outline"></ion-icon>
        <p>Gestionar productos</p>
      </div>
      <div class="menu-item" [routerLink]="['/encuesta-empleado']" *ngIf="!solvedSurvey">
        <ion-icon name="newspaper-outline"></ion-icon>
        <p>Encuesta</p>
      </div>
    </ion-row>
  </div>


</ion-content>