<ion-header>
  <ion-toolbar color="medium">
    <ion-back-button defaultHref="producto-modificar" slot="start"></ion-back-button>
    <ion-title>Modificar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of productos" >
      <ion-avatar>
        <img [src]="item.img_src">
      </ion-avatar>
      <ion-label>
        
          <input disable [producto_mod.nombre]='item.nombre' value={{item.nombre}} ></input>
          <h1>
              {{item.nombre}}
      </h1>
      </ion-label>
      
          <input  disabled [producto_mod.precio]='item.precio' value={{item.precio}}></input>
          <strong>
          ${{item.precio}}
      </strong>
      <ion-button (click)="modificarProducto()">
        Modificar
      </ion-button>


    </ion-item>
  </ion-list>


</ion-content>