<ion-header>
  <ion-toolbar color="medium">
    <ion-back-button (click)="navigateBack()" slot="start">Atras</ion-back-button>
    <ion-title>Alta de producto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="container">
  
  <form  [formGroup]="formProducto">
      
    <!-- Nombre -->
    <ion-item lines="full" class="input-wrapper">
      <ion-label position="fixed">Nombre</ion-label><br />
      <ion-input type="text" class="form-control" #nombre formControlName="nombre">
      </ion-input>
      <small class="invalid" *ngIf="formProducto.controls.nombre.errors?.required && formProducto.controls.nombre.touched ">El nombre es requerido</small> 
    </ion-item>
    <!-- descripcion -->
    <ion-item lines="full" class="input-wrapper">
      <ion-label position="fixed">Descripcion</ion-label><br />
      <ion-input type="text" #descripcion  formControlName="descripcion" class="form-control"> 
        <small class="invalid" *ngIf="formProducto.controls.descripcion.errors?.required && formProducto.controls.descripcion.touched ">La descripcion es requerida</small> 
   
      </ion-input>
    </ion-item>
    <!-- tiempo -->
    <ion-item lines="full" class="input-wrapper">
      <ion-label position="fixed">Tiempo</ion-label><br />
      <ion-input type="number" #tiempo formControlName="tiempo" class="form-control">
          <small class="invalid" *ngIf="formProducto.controls.tiempo.errors?.required && formProducto.controls.tiempo.touched ">El tiempo es requerido</small> 
      </ion-input>
    </ion-item>
    
     <!-- precio -->
     <ion-item lines="full" class="input-wrapper">
      <ion-label position="fixed">Precio</ion-label><br />
      <ion-input type="number" #precio formControlName="precio"  class="form-control">
        <small class="invalid" *ngIf="formProducto.controls.precio.errors?.required && formProducto.controls.precio.touched ">El precio es requerido</small> 
      
      </ion-input>
    </ion-item>

      <!-- sector -->
      <ion-item lines="full" class="input-wrapper">
        <ion-label position="fixed">Sector</ion-label><br />
        <ion-select value="0"  #sector class="form-control" interface="popover"  formControlName="sector" placeholder="Seleccione una opcion"
          required>
          <ion-select-option value="BEBIDA">Bebidas</ion-select-option>
          <ion-select-option value="COCINA">Cocina</ion-select-option>
        </ion-select>
        <small class="invalid" *ngIf="formProducto.controls.sector.errors?.required && formProducto.controls.sector.touched ">El sector es requerido</small>
      </ion-item>
    
    <!-- imagen -->

 
    <ion-item *ngIf="mostrar"> 
      <ion-label position="fixed">Imagenes</ion-label><br />       
      <div class="mx-auto d-block circular--portrait" (click)="tomarFotoProducto()"  #imagen>    

        <!--img [src]="producto.img_src[0]" *ngIf="producto.img_src[0] != null" -->
        <img src="./../../../assets/plato.png" >
      </div>    
      <small style="background-color:red;" *ngIf="errorImagen">Debe subir 3 imagenes.</small>
    </ion-item> 
    

    <ion-item *ngFor="let item of producto.img_src; let index=index">
      <ion-avatar >
        <img [src]="item">
      </ion-avatar>
    </ion-item>
   

    <!-- SUBMIT -->
    <ion-row class="cta-row">
      <ion-button  type="submit" size="medium" color="primary" (click)="GuardarNuevoProducto()"
      [disabled]="!formProducto.valid">Guardar </ion-button>
    </ion-row>
  </form>
 

</div>
</ion-content>