.form-register{
    margin-top: 1rem;
}

.form-register .btn-register{
    height: 6rem;
    margin-bottom: 0rem;
    margin-top: -2rem;
}

.form-register .btn-login{
    height: 4rem;
}
 

.error-input-message{
    color:#eb445a;
    margin-top: -5%;
    margin-bottom: 0%;
}

.circular--portrait {
    position: relative;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
  }
  
.circular--portrait img {
    width: 100%;
    height: auto;
    margin-top: -20px;
}
ion-toolbar{
    ion-icon{
        font-size: 2em;
        margin-right: 0.5em;
    }
}
.remove{
    margin-right: 0.5em;
    font-size: 2em;
}
.add{
    margin-left: 0.5em;
    font-size: 2em;
}
strong{
    font-size: 1.5em;
}

.detail{
    display: flex;
    align-items: center;
    flex-direction: column;
    ion-row{
        margin-top: 1em;
    }
    .buttons{
        margin-top: 1em;
        display: flex;
        align-items: center;
    }
}

  

 