<ion-header>
  <ion-toolbar color="medium">
    <ion-back-button (click)="return()" slot="start"></ion-back-button>
    <ion-title>Listado Clientes</ion-title>
    <ion-icon class="logout-icon" slot="end" name="log-out-outline" size="large" (click)="logout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-3 mb-3 h-100">

    <div class="row mb-1">
      <div class="col text-center mb-3">
        <h3 class="text-muted" *ngIf="clientes.length == 0">No hay Clientes pendientes de aprobación</h3>
      </div>      
    </div>

    <ion-list *ngFor="let item of clientes">
      <ion-item color="secondary rounded">
        <ion-avatar slot="start">
          <img [src]="item.user.img_src">
        </ion-avatar>
        <ion-label>
          <h2>{{item.user.nombre}} {{item.user.apellido}}</h2>
          <h3>{{item.user.correo}}</h3>
        </ion-label>
        <ion-avatar slot="end" class="m-1" (click)="aceptarCliente(false, item)">
          <ion-icon class="red" name="close-circle-outline" size="large"></ion-icon>          
        </ion-avatar>
        <ion-avatar slot="end" class="m-1" (click)="aceptarCliente(true, item)">
          <ion-icon class="green" name="checkmark-circle-outline" size="large"></ion-icon>
        </ion-avatar>
      </ion-item>
    </ion-list>

  </div>
</ion-content>