<ion-content fullscreen color="">
  <div class="container mt-3 mb-3 h-100">

    <div class="row mb-1">
      <div class="col text-center mb-3">
        <!-- <div class="btn-back" (click)="goToHome()">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
          </svg>
        </div>
        <div class="btn-filter" (click)="clickFilter()">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
          </svg>
        </div>
        <div class="btn-logout" (click)="clickLogout()" title="Salir">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg>
        </div> -->
        <h1>Listado Clientes</h1>
        <h3 class="text-muted" *ngIf="clientes.length == 0">No hay Clientes pendientes de aprobación</h3>
      </div>      
    </div>

    <ion-list *ngFor="let item of clientes">
      <ion-item color="secondary rounded">
        <ion-avatar slot="start">
          <img [src]="item.user.img_src">
        </ion-avatar>
        <ion-label>
          <h2>{{item.user.nombre}} {{item.user.apellido}}</h2>
          <h3>{{item.user.correo}}</h3>
        </ion-label>
        <ion-avatar slot="end" class="m-1" (click)="aceptarCliente(false, item)">
          <ion-icon class="red" name="close-circle-outline" size="large"></ion-icon>          
        </ion-avatar>
        <ion-avatar slot="end" class="m-1" (click)="aceptarCliente(true, item)">
          <ion-icon class="green" name="checkmark-circle-outline" size="large"></ion-icon>
        </ion-avatar>
      </ion-item>
    </ion-list>

  </div>
</ion-content>