form{
    padding: 10px 10px 10px 10px;
    .card{
        display:flex;
        background: wheat;
        margin-top: 1em;
    }
}

ion-row{
    .hiddenItems {
        height: 30px;
        small {
          margin-bottom: 7px;
          color: var(--ion-color-danger);
          font-weight: 700;
          font-size: 14px;
          align-self: center;
          margin-left: 0.5em;
        }
    }
}

.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
}

.ok{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    img{
        height: 10em;
        margin-bottom: 2em;
        margin-top: 2em;
    }
    .title{
        font-size: 2em;
    }
    .sub{
        font-size: 1.5em;
        text-align: -webkit-center;
    }
}