<ion-header>
  <ion-toolbar color="medium">
    <ion-title>{{producto.nombre}}</ion-title>
    <ion-icon slot="end" (click)="dismiss()" name="close-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts" style="margin-top:1em">
    <ion-slide *ngFor="let image of producto.img_src">
        <img [src]="image" style="height: 10em;">
    </ion-slide>
  </ion-slides>
  <div class="detail">
    <ion-label>
      <ion-row>
          <input type="number" value={{producto.precio}} >
         
        <h2 style="margin-left:1em"><ion-icon name="timer-outline"></ion-icon>{{producto.tiempo_elaboracion}} min</h2>
      </ion-row>
      <ion-row>
        <p>{{producto.desscripcion}}</p>
      </ion-row>
    </ion-label>
    <ion-button class="btn-sucess">Modificar</ion-button>
    <ion-button class="btn-danger" (click)="dismiss()">Cancelar</ion-button>
 
  </div>
</ion-content>
