.form-register{
    margin-top: 0rem;
    padding-left: 10px;
    padding-right: 10px;
}

.form-register .btn-register{
    height: 6rem;
    margin-bottom: 0rem;
    margin-top: -2rem;
}

.form-register .btn-login{
    height: 4rem;
}

.form-register ion-item{
    margin-bottom: 1rem;
}

.error-input-message{
    color:#eb445a;
    margin-top: -5%;
    margin-bottom: 0%;
}

.circular--portrait {
    position: relative;
    width: 155px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
.circular--portrait img {
    width: 100%;
    height: auto;
    // margin-top: -20px;
}

.input-wrapper{
    margin-top: 0.5em;
    --background: #fdf0d5;
    color: #333;
}

.errors{
    margin-top: 23px;
}

.actions{
    margin-top: 1em;
}

.perfil-btn{
    margin-left: -0.5rem !important; 
    border-radius: 50% !important;
}
