<ion-header>
  <ion-toolbar color="medium">
    <ion-title>{{producto.nombre}}</ion-title>
    <ion-icon slot="end" (click)="dismiss()" name="close-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts" style="margin-top:1em">
    <ion-slide *ngFor="let image of producto.img_src">
        <img [src]="image" style="height: 10em;">
    </ion-slide>
  </ion-slides>
  <div class="detail">
    <ion-label>
      <ion-row>
        <h2>${{producto.precio}}</h2>
        <h2 style="margin-left:1em"><ion-icon name="timer-outline"></ion-icon>{{producto.tiempo_elaboracion}} min</h2>
      </ion-row>
      <ion-row>
        <p>{{producto.descripcion}}</p>
      </ion-row>
    </ion-label>
    <div class="buttons">
      <ion-icon name="remove-outline"(click)="RemoveProducto()" class="remove"></ion-icon>
      <strong>{{producto.cantidad}}</strong>
      <ion-icon name="add-outline" (click)="AddProducto()" class="add"></ion-icon>
      <ion-button (click)="dismiss()">Aceptar</ion-button>
    </div>
  </div>
</ion-content>
