<ion-header>
  <ion-toolbar color="medium">
    <ion-back-button defaultHref="home-clientes" slot="start"></ion-back-button>
    <ion-title>Carta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of productos; let index=index">
      <ion-avatar>
        <img [src]="item.img_src">
      </ion-avatar>
      <ion-label>
        <h1>{{item.nombre}}</h1>
        <ion-row>
          <h2>${{item.precio}}</h2>
          <h2 style="margin-left:1em"><ion-icon name="timer-outline"></ion-icon>{{item.tiempo_elaboracion}} min</h2>
        </ion-row>
      </ion-label>
      <ion-icon name="remove-outline"(click)="RemoveProducto(item.nombre,index)" class="remove"></ion-icon>
      <strong>{{item.cantidad}}</strong>
      <ion-icon name="add-outline" (click)="AddProducto(index)" class="add"></ion-icon>
      
    </ion-item>
  </ion-list>

  <ion-row>
    <i>Total: ${{total}}</i>
    <ion-button (click)="EnviarPedido()">
      Confirmar
    </ion-button>
  </ion-row>

</ion-content>
