<ion-content fullscreen color="">
  <div class="form-register">
    <ion-toolbar color="" class="mb-1">
      <ion-title class="ion-text-center">
        <h2>Registrar Personal</h2>
      </ion-title>
    </ion-toolbar>

    <div [ngSwitch]="formSelected">
      <!-- Form 0 -->
      <form *ngSwitchCase="0"> 
      <p class="ion-padding-start ion-padding-end" > 
        <ion-button type="submit" expand="block" color="secondary" class="btn-tipo-personal" (click)="setRol('MOZO')">Mozo</ion-button>
      </p>

      <p class="ion-padding-start ion-padding-end" > 
        <ion-button type="submit" expand="block" color="secondary" class="btn-tipo-personal" (click)="setRol('BARTENDER')">Bartender</ion-button>
      </p>

      <p class="ion-padding-start ion-padding-end" > 
        <ion-button type="submit" expand="block" color="secondary" class="btn-tipo-personal" (click)="setRol('COCINERO')">Cocinero</ion-button>
      </p>

      <p class="ion-padding-start ion-padding-end" > 
        <ion-button type="submit" expand="block" color="primary" class="btn-tipo-personal" (click)="setRol('SUPERVISOR')">Supervisor</ion-button>
      </p>
          
      <p class="ion-padding-start ion-padding-end" > 
        <ion-button type="submit" expand="block" color="primary" class="btn-tipo-personal" (click)="setRol('DUEÑO')">Dueño</ion-button>
      </p>
      </form>

      <!-- Form 1 -->
      <form [formGroup]="form1" (ngSubmit)="goTo(2)" *ngSwitchCase="1"> 

        <!-- foto perfil -->
        <div class="" >
          <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="hasErrorPerfil">Debe cargar una foto de perfil</small>          
        </div>
        <ion-item >          
          <div class="mx-auto d-block circular--portrait" (click)="tomarFotoPerfil()">            
            <img [src]="user.img_src" *ngIf="user.img_src != null">
            <img [src]="imagenPerfil" *ngIf="user.img_src == null">
          </div>            
        </ion-item>

        <!-- nombre -->
        <div class="" >
          <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getNameControl().errors?.required && getNameControl().touched">Campo obligatorio</small>
          <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getNameControl().errors?.minlength && getNameControl().touched">Mínimo 2 caracteres</small>
        </div>
      <ion-item color=""fill="outline">
        <ion-label position= "fixed"> Nombre</ion-label><br>
        <ion-input 
          type="text" 
          formControlName="name" 
          [(ngModel)]="user.nombre" 
          >
        </ion-input>
      </ion-item>
  
      <!-- apellido --> 
      <div class="" >
        <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getLastNameControl().errors?.required && getLastNameControl().touched">Campo obligatorio</small>
        <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getLastNameControl().errors?.minlength && getLastNameControl().touched">Mínimo 2 caracteres</small>
      </div>
      <ion-item color="" fill="outline">
        <ion-label position= "fixed"> Apellido</ion-label><br>
        <ion-input 
          type="text" 
          formControlName="lastName" 
          [(ngModel)]="user.apellido" 
          >
        </ion-input>
      </ion-item>

  
      <!-- dni -->
      <div class="" >
        <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getDniControl()?.errors?.required && getDniControl()?.touched">Campo obligatorio</small>
        <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="(getDniControl()?.errors?.min || getDniControl()?.errors?.max) && getDniControl()?.touched && !getDniControl()?.errors?.pattern">El valor debe estar entre 999999999 y 1000000</small>
        <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getDniControl()?.errors?.pattern && getDniControl()?.touched">Sólo se permiten números</small>
      </div>
      <ion-item color="" fill="outline">
        <ion-label position= "fixed"> DNI</ion-label><br>
        <ion-input 
          type="text" 
          formControlName="dni" 
          [(ngModel)]="user.dni" 
          >
        </ion-input>
      </ion-item>

      <!-- CUIL -->
      <div class="" >
        <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getCuilControl()?.errors?.required && getCuilControl()?.touched">Campo obligatorio</small>
        <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getCuilControl()?.errors?.minlength && getCuilControl()?.touched && !getCuilControl()?.errors?.pattern">Mínimo de caracteres 10</small>        
        <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getCuilControl()?.errors?.maxlength && getCuilControl()?.touched && !getCuilControl()?.errors?.pattern">Máximo de caracteres 15</small> 
        <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getCuilControl()?.errors?.pattern && getCuilControl()?.touched">Sólo se permiten números</small>
      </div>
      <ion-item color="" fill="outline">
        <ion-label position= "fixed"> CUIL</ion-label><br>
        <ion-input 
          type="text" 
          formControlName="cuil" 
          [(ngModel)]="user.cuil" 
          >
        </ion-input>
      </ion-item>
      
      <!-- QR -->
      <p class="ion-padding-start ion-padding-end" > 
        <ion-button  expand="block" color="secondary" class="" (click)="escanearClick()">Escanear DNI <ion-icon style="margin-left: 1rem;" name="qr-code-outline"></ion-icon></ion-button>
      </p>
          
      <p class="ion-padding-start ion-padding-end" > 
        <ion-button type="submit" expand="block" color="" class="btn-siguiente" [disabled]="form1.invalid">Siguiente</ion-button>
      </p>

      </form>

      <!-- Form 2 -->
      <form [formGroup]="form2" (ngSubmit)="registrarseClick()" *ngSwitchCase="2">   

        <ion-item>          
          <div class="mx-auto d-block circular--portrait" (click)="tomarFotoPerfil()">            
            <img [src]="user.img_src" *ngIf="user.img_src != null">
            <img [src]="imagenPerfil" *ngIf="user.img_src == null">
          </div>            
        </ion-item>

      <!-- email -->
      <div>
        <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getEmailControl().errors?.required && getEmailControl().touched">Campo obligatorio</small>
        <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getEmailControl().errors?.email && getEmailControl().touched">Formato incorrecto</small>
      </div>
      <ion-item color="" fill="outline">
        <ion-label position= "floating"><ion-icon name="mail-outline"></ion-icon> Email *</ion-label><br>
        <ion-input 
          type="email" 
          formControlName="email" 
          [(ngModel)]="user.correo" 
          >
        </ion-input>
      </ion-item>
  
      <!-- pass 01 -->
      <div>
        <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getPass1Control().errors?.required && getPass1Control().touched">Campo obligatorio</small>
        <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getPass1Control().errors?.minlength && getPass1Control().touched">Mínimo 6 caracteres</small>
      </div>
      <ion-item color="">
        <ion-label position= "floating"><ion-icon name="lock-closed-outline"></ion-icon> Contraseña *</ion-label>
        <ion-input 
          type="password" 
          formControlName="pass1"
          >
        </ion-input>
      </ion-item>
  
      <!-- pass 02 -->
      <div>
        <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getPass2Control().errors?.required  && getPass2Control().touched">Campo obligatorio</small>
        <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getPass2Control().errors?.minlength  && getPass2Control().touched">Mínimo 6 caracteres</small>
        <small class="error-input-message ion-padding-start ion-padding-end" *ngIf="getPass2Control()?.errors?.mustMatch && getPass2Control()?.touched">La contraseña debe ser la misma</small>
      </div>
      <ion-item  color="">
        <ion-label position= "floating"><ion-icon name="lock-closed-outline"></ion-icon> Confirmar Contraseña *</ion-label>
        <ion-input 
          type="password"
          formControlName="pass2"
          >
        </ion-input>
      </ion-item>

      <br>
  
      <p class="ion-padding-start ion-padding-end" > 
        <ion-button type="submit" expand="block" color="" class="btn-register" [disabled]="form2.invalid">Registrarse</ion-button>
      </p>
      </form>
    </div>

  </div>
</ion-content>