<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Inicio</ion-title>
    <ion-button color="danger" slot="end" style="margin-right: 1em;" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      Salir
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="display:flex; flex-direction: column;">
    <ion-row>
      <div class="menu-item" (click)="ScanQr()">
        <ion-icon name="qr-code-outline"></ion-icon>
        <p>{{qrBtnText}}</p>
      </div>
      <div class="menu-item" *ngIf="showChatBtn" (click)="goToChat()">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <p>Chat</p>
      </div>
      <div class="menu-item" (click)="navigateCarta()" *ngIf="showCartaBtn">
        <ion-icon name="fast-food-outline"></ion-icon>
        <p>Hacer pedido</p>
      </div>
      <div class="menu-item" (click)="navigateDetalle()" *ngIf="showDetalleBtn">
        <ion-icon name="fast-food-outline"></ion-icon>
        <p>Detalle pedido</p>
      </div>
      <div class="menu-item" *ngIf="showGamesBtn">
        <ion-icon name="game-controller-outline"></ion-icon>
        <p>Juegos</p>
      </div>
      <div class="menu-item" *ngIf="showEncuestaBtn">
        <ion-icon name="document-text-outline"></ion-icon>
        <p>Encuesta</p>
      </div>
    </ion-row>
  </div>
</ion-content>
